

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/CSS/Style.css")
    <script src="https://kit.fontawesome.com/3c03c97ac7.js" crossorigin="anonymous"></script>
    <title>Course</title>
</head>

<body>

    <div id="content">
        <section>
            <h1>Add Course ></h1>
        </section>

        <form action="#" method="post" class="myform">
            <main id="main">
                <div>
                    <label for="name">Course_Name</label>
                    <input type="text" class="CourseName" name="CourseName" pattern="[A-Za-z- ]+" required>
                    <label for="Teacher_Name">Teacher_Name</label>
                    <input type="text" class="TeacherName" name="Teacher_Name" id="" pattern="[A-Za-z- ]+">
                    <label for="Department">Department</label>
                    <select class="Department" name="Department" id="">
                        <option value="Select">Select</option>
                        <option value="Nursing">Nursing</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Laboratory">Laboratory</option>
                        <option value="Midwifery">Midwifery</option>
                    </select>
                    <div style="margin: 0; margin-top: 30px;  display: flex; justify-content: space-around;">

                        <button type="submit" class="button-style">Save</button>
                        <button type="reset" class="button-style" id="btn-clear">Cancel</button>

                    </div>
                </div>
            </main>
        </form>

    </div>
    @*<script src="/static/js/script.js"></script>*@
</body>

</html>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.js"></script>

<script type="text/javascript">

    $(function () {
        $('.button-style').click(function () {
            var coursename = $(".CourseName").val();
            var teachername = $(".TeacherName").val();
            var department = $(".Department").val();

            var course = {
                CourseName: coursename,
                TeacherName: teachername,
                Department: department
            }

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(course),
                url: "/Faculty/GetCourseData",
                success: function (data) {
                    alert("Data: " + data);
                },
                error: function (result) {
                    alert("Problem occured" + result);
                }
            });
        })
    });



</script>