<nav>
    <ul>
        <li><a onClick="location.href='/Home/Dashboard'" style="border: none;">health institute</a></li>
        <div>
            <li><a onClick="location.href='/Staff'">Add Employee</a></li>
            <li><a onClick="location.href='/Staff/Teacher'">Add Teacher</a></li>
            <li><a onClick="location.href='/Staff/Labor'">Add Labor</a></li>
            <li>
                <a onClick="location.href='/staff/StaffEducationalBackground'"
                   style="background: white; border-radius: 20px; color: #1464BE;">
                    Add Staff Educational
                    Background
                </a>
            </li>
            <li><a onClick="location.href='/Staff/Experience'">Add Staff Experience</a></li>
        </div>
        <li>
            <!-- <i class="fas fa -user" style="font-size: 30px;"></i> -->
            <img src="#" alt="">
        </li>
    </ul>
</nav>
@RenderBody()