<!DOCTYPE html>
<html>
<head>
        <script src="https://kit.fontawesome.com/3c03c97ac7.js" crossorigin="anonymous"></script>
        <script src="~/Scripts/SlideShow.js"></script>
    <title>IHS.com</title>
    @Styles.Render("~/Content/CSS/Style.css")
</head>

<body>
    <div class="slideshow">
        <img name="slide" class="slideshow--photos">
        <div class="nav-bar">
            <p class="nav-bar-title" onClick="location.href='/Home/Dashboard'">Welcome</p>
        </div>
    </div>
    <div class="body--top-students">
        <div>
            <div>
                <img src="~/Content/Images/Bill.jpg" alt="avatar" class="avatar-images">
            </div>
            <div>
                <h1 class="avatar--title">Bill Gates</h1>
                <p class="avatar--body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates fuga sint architecto
                    atque asperiores corporis, quis dicta ipsa nobis dolores blanditiis dolorem a ut hic sunt saepe
                    recusandae aspernatur!
                </p>
            </div>
        </div>
        <div class="top-student">
            <div>
                <img src="~/Content/Images/Bill.jpg" alt="avatar" class="avatar-images">
            </div>
            <div>
                <h1 class="avatar--title">Bill Gates</h1>
                <p class="avatar--body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates fuga sint architecto
                    atque asperiores corporis, quis dicta ipsa nobis dolores blanditiis dolorem a ut hic sunt saepe
                    recusandae aspernatur!
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>Contact Us: 0700034223</p>
        </div>
        <div>
            <a class="fab fa-facebook" href="https://facebook.com/ihs-lms" target="_blank"></a>
            <a class="fab fa-twitter-square" href="https://twitter.com/ihs-lms" target="_blank"></a>
            <a class="fab fa-linkedin" href="https://linkedin.com/ihs-lms" target="_blank"></a>
            <a class="fab fa-whatsapp-square"></a>
            <a class="fab fa-instagram-square" href="https://instagram.com/ihs-lms" target="_blank"></a>
        </div>
    </footer>
</body>

</html>